.header-footer, footer {
  background-color: grey; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 100%;
  background-image: url(https://us.123rf.com/450wm/sumaetho/sumaetho1506/sumaetho150601501/41740000-fondo-azul-del-mosaico-poligonal-blanco-ilustraci%C3%B3n-vectorial-plantillas-del-dise%C3%B1o-del-negocio-crea.jpg?ver=6);
  background-size: cover; }

h1 {
  text-align: center;
  font-size: 100px;
  font-weight: lighter;
  color: #ff8c00;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 1px 2px 2px black; }

nav {
  display: flex;
  text-align: center;
  font-size: 30px;
  width: 100%;
  height: 100%; }
  nav ul {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap; }
  nav li {
    display: flex;
    border: ridge #EBCD6D;
    justify-content: center; }
  nav a {
    display: flex;
    color: #ff8c00;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 2px black; }

.news {
  color: #ff8c00;
  text-align: center;
  font-size: xx-large; }
  .news :hover {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    overflow: visible; }

.galeria {
  margin: 10px20px;
  float: left;
  width: 350px; }
  .galeria .parrafoGaleria {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
  .galeria .ps {
    font-size: 35px;
    text-align: center; }
  .galeria img {
    width: 100%;
    height: auto; }
  .galeria :hover {
    border: 1px solid #ff8c00;
    transform: rotate(-3deg);
    background-color: #ff8c00; }
  .galeria .pie {
    text-align: center;
    text-shadow: 2pz 2px 5px #ff8c00;
    padding: 10px; }

.header-footer, footer {
  background-color: grey; }

.divpsn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ff8c00; }
  .divpsn p {
    color: black; }
  .divpsn .parrafoi {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ff8c00; }
  .divpsn h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
    text-decoration: double; }
  .divpsn :hover {
    color: #EBCD6D;
    background-color: black; }

.divinfo h3 {
  color: black;
  border: #ff8c00 solid 1px; }

.divinfo .parrafoInfo1 {
  display: flex;
  font-size: 30px; }

.divinfo .parrafoInfo2 {
  display: flex;
  font-size: 30px; }

.divinfo .parrafoInfo3 {
  display: flex;
  font-size: 30px; }

.divinfo :hover {
  background-color: #EBCD6D; }

* {
  margin: 0;
  padding: 0; }
